In [59]:
import yfinance as yf

In [60]:
data = yf.download("SPY", start="2021-07-04", end="2021-08-11", interval="1d")

[*********************100%***********************]  1 of 1 completed

In [61]:
x = data['Close'].shift(1)
data['change%'] = 100*((data['Close'] - x)/x)
data['changeHigh'] = 100*((data['High'] - x)/x)
data['changeLow'] = 100*((data['Low'] - x)/x)

In [62]:
data

,Open,High,Low,Close,Adj Close,Volume,change%,changeHigh,changeLow
Date,,,,,,,,,
2021-07-06,433.779999,434.010010,430.010010,432.929993,432.929993,68710400,NaN,NaN,NaN
2021-07-07,433.660004,434.760010,431.510010,434.459991,434.459991,63549500,0.353406,0.422705,-0.327994
2021-07-08,428.779999,431.730011,427.519989,430.920013,430.920013,97595200,-0.814800,-0.628362,-1.597386
2021-07-09,432.529999,435.839996,430.709991,435.519989,435.519989,76238600,1.067478,1.141739,-0.048738
2021-07-12,435.429993,437.350006,434.970001,437.079987,437.079987,52889600,0.358192,0.420191,-0.126283
2021-07-13,436.239990,437.839996,435.309998,435.589996,435.589996,52911300,-0.340896,0.173883,-0.404958
2021-07-14,437.399994,437.920013,434.910004,436.239990,436.239990,64130400,0.149221,0.534911,-0.156108
2021-07-15,434.809998,435.529999,432.720001,434.750000,434.750000,55126400,-0.341553,-0.162752,-0.806893
2021-07-16,436.010010,436.059998,430.920013,431.339996,431.339996,75874700,-0.784360,0.301322,-0.880963
2021-07-19,426.190002,431.410004,421.970001,424.970001,424.970001,147987000,-1.476792,0.016230,-2.172299
2021-07-20,425.679993,432.420013,424.829987,431.059998,431.059998,99608200,1.433041,1.753068,-0.032947
2021-07-21,432.339996,434.700012,431.010010,434.549988,434.549988,64724400,0.809630,0.844433,-0.011596
2021-07-22,434.739990,435.720001,433.690002,435.459991,435.459991,47878500,0.209413,0.269247,-0.197903
2021-07-23,437.519989,440.299988,436.790009,439.940002,439.940002,63766600,1.028800,1.111468,0.305428
2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200,0.245485,0.247760,-0.154565
2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100,-0.455757,-0.244884,-1.140538
2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400,-0.041007,0.293838,-0.387238
2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300,0.414741,0.676800,0.223324
2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600,-0.485643,-0.133892,-0.653581
2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300,-0.209804,0.551865,-0.296463
2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900,0.813546,0.843256,-0.340499
2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200,-0.491892,-0.006800,-0.548562
2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700,0.633286,0.653787,0.205019
2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100,0.165244,0.267112,0.009050
2021-08-09,442.459991,442.799988,441.309998,442.130005,442.130005,41222600,-0.081354,0.070058,-0.266671
2021-08-10,442.609985,443.440002,441.880005,442.679993,442.679993,43282600,0.124395,0.296292,-0.056544

In [64]:
datamin = yf.download("SPY", start="2021-08-05", end="2021-08-11", interval="1m")

[*********************100%***********************]  1 of 1 completed

In [65]:
datamin

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-08-05 09:30:00-04:00,440.119995,440.135010,440.109985,440.109985,440.109985,1184408
2021-08-05 09:31:00-04:00,440.100006,440.279999,439.940002,440.250000,440.250000,232170
2021-08-05 09:32:00-04:00,440.239990,440.279999,439.894989,439.980011,439.980011,377308
2021-08-05 09:33:00-04:00,439.989990,440.190002,439.980011,440.075012,440.075012,203661
2021-08-05 09:34:00-04:00,440.079987,440.390015,440.079987,440.250000,440.250000,254597
...,...,...,...,...,...,...
2021-08-10 15:55:00-04:00,442.279999,442.299988,442.209991,442.269989,442.269989,232231
2021-08-10 15:56:00-04:00,442.260101,442.390015,442.250000,442.380005,442.380005,262788
2021-08-10 15:57:00-04:00,442.380005,442.489990,442.350006,442.480011,442.480011,294449
2021-08-10 15:58:00-04:00,442.483887,442.489990,442.404999,442.480011,442.480011,653269
2021-08-10 15:59:00-04:00,442.480011,442.679993,442.470001,442.660004,442.660004,1689642