In [1]:
import yfinance as yf

In [2]:
data = yf.download("SPY", start="2021-07-04", end="2021-08-11", interval="1d")

[*********************100%***********************]  1 of 1 completed

In [4]:
x = data['Close'].shift(1)
data['change%'] = 100*((data['Close'] - x)/x)
data['changeHigh'] = 100*((data['High'] - x)/x)
data['changeLow'] = 100*((data['Low'] - x)/x)

In [6]:
data.to_excel("port.xlsx")

In [64]:
datamin = yf.download("SPY", start="2021-08-05", end="2021-08-11", interval="1m")

[*********************100%***********************]  1 of 1 completed

In [65]:
datamin

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-08-05 09:30:00-04:00,440.119995,440.135010,440.109985,440.109985,440.109985,1184408
2021-08-05 09:31:00-04:00,440.100006,440.279999,439.940002,440.250000,440.250000,232170
2021-08-05 09:32:00-04:00,440.239990,440.279999,439.894989,439.980011,439.980011,377308
2021-08-05 09:33:00-04:00,439.989990,440.190002,439.980011,440.075012,440.075012,203661
2021-08-05 09:34:00-04:00,440.079987,440.390015,440.079987,440.250000,440.250000,254597
...,...,...,...,...,...,...
2021-08-10 15:55:00-04:00,442.279999,442.299988,442.209991,442.269989,442.269989,232231
2021-08-10 15:56:00-04:00,442.260101,442.390015,442.250000,442.380005,442.380005,262788
2021-08-10 15:57:00-04:00,442.380005,442.489990,442.350006,442.480011,442.480011,294449
2021-08-10 15:58:00-04:00,442.483887,442.489990,442.404999,442.480011,442.480011,653269
2021-08-10 15:59:00-04:00,442.480011,442.679993,442.470001,442.660004,442.660004,1689642