In [50]:
import talib
import numpy
import pandas as pd

In [68]:
df = pd.read_csv('spy.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,8/10/20,335.059998,335.769989,332.959991,335.570007,330.645203,44282100
1,8/11/20,336.850006,337.540009,332.010010,332.799988,327.915833,69601100
2,8/12/20,335.440002,338.279999,335.410004,337.440002,332.487732,53774400
3,8/13/20,336.609985,338.250000,335.829987,336.829987,331.886688,41816100
4,8/14/20,336.410004,337.420013,335.619995,336.839996,331.896545,47260400
...,...,...,...,...,...,...,...
247,8/3/21,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
248,8/4/21,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
249,8/5/21,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
250,8/6/21,442.100006,442.940002,441.799988,442.489990,442.489990,46864100
251,8/9/21,442.459991,442.799988,441.309998,442.130005,442.130005,41222600

In [ ]:
df_close = df['Close']
df_close

In [54]:
rsi = talib.RSI(df_close)
rsi.tail(10)

242    61.228145
243    60.894727
244    63.083439
245    58.908471
246    57.157106
247    61.879841
248    57.704287
249    61.306550
250    62.216530
251    61.449049
dtype: float64

In [63]:
MACD = talib.MACD(df_close)
MACD

(0           NaN
 1           NaN
 2           NaN
 3           NaN
 4           NaN
          ...
 247    3.408839
 248    3.260946
 249    3.329680
 250    3.403819
 251    3.394398
 Length: 252, dtype: float64,
 0           NaN
 1           NaN
 2           NaN
 3           NaN
 4           NaN
          ...
 247    3.390207
 248    3.364355
 249    3.357420
 250    3.366700
 251    3.372239
 Length: 252, dtype: float64,
 0           NaN
 1           NaN
 2           NaN
 3           NaN
 4           NaN
          ...
 247    0.018631
 248   -0.103409
 249   -0.027740
 250    0.037119
 251    0.022159
 Length: 252, dtype: float64)

In [70]:
ATR = talib.ATR(df['High'], df['Low'], df['Adj Close'], 14)
ATR.tail(20)

232    3.524122
233    3.487399
234    3.489727
235    3.607603
236    4.024203
237    4.278904
238    4.236840
239    4.079208
240    4.133551
241    3.964725
242    4.040816
243    3.965757
244    3.894631
245    3.822158
246    3.814861
247    3.912371
248    3.805771
249    3.738930
250    3.556149
251    3.408566
dtype: float64